In [ ]:
%run ../../workflow/rules/common.py
# Table of canonical ecoli protein sequences from Uniprot
#url_ = 'https://rest.uniprot.org/uniprotkb/stream?compressed=true&fields=accession%2Cid%2Csequence&format=tsv&query=%28%28proteome%3AUP000000625%29%29'
#!wget -O ecoli_sequences.tsv.gz '{url_}'

In [ ]:
# Read table, generate AF3-sanitised identifiers from uniprot id-s
df_ = pd.read_csv('ecoli_sequences.tsv.gz', sep='\t')
df_['af3_id'] = df_['Entry'].map(alphafold3_jobname)
df_

,Entry,Entry Name,Sequence,af3_id
0,A5A616,MGTS_ECOLI,MLGNMNVFMAVLGIILFSGFLAAYFSHKWDD,a5a616
1,O32583,THIS_ECOLI,MQILFNDQAMQCAAGQTVHELLEQLDQRQAGAALAINQQIVPREQW...,o32583
2,P00350,6PGD_ECOLI,MSKQQIGVVGMAVMGRNLALNIESRGYTVSIFNRSREKTEEVIAEN...,p00350
3,P00363,FRDA_ECOLI,MQTFQADLAIVGAGGAGLRAAIAAAQANPNAKIALISKVYPMRSHT...,p00363
4,P00370,DHE4_ECOLI,MDQTYSLESFLNHVQKRDPNQTEFAQAVREVMTTLWPFLEQNPKYR...,p00370
...,...,...,...,...
4397,Q7DFV3,YMGG_ECOLI,MKKKILAFGLISALFCSTPAMADMNRTTKGALLGAGVGLLTGNGVN...,q7dfv3
4398,Q7DFV4,YMDE_ECOLI,MEDGVQAMRDYLAGLDIASPEHQVLMNVTAKSEVAPSIIKENLSLH...,q7dfv4
4399,Q9XB42,YKFH_ECOLI,MKIISKRRAMTIYRQHPESRIFRYCTGKYQWHGSVCHYTGRDVPDI...,q9xb42
4400,Q9Z3A0,YJGW_ECOLI,MIRKNKWLRFQTVCRYIPLSLKNHNRLVIFVCQRIEWRYIFSTNTG...,q9z3a0
4401,V9HVX0,YPAA_ECOLI,MTIAERLRQEGHQIGWQEGKLEGLHEQAIKIALRMLEQGFDRDQVL...,v9hvx0

In [4]:
# Write input .json-s for every monomer
!mkdir -p alphafold3_jsons
print(len(list(map(alphafold3_write_monomer, df_['af3_id'], df_['Sequence']))))

4402

In [6]:
# Check number of input .json-s equals number of sequences in the proteome table
!ls -1 alphafold3_jsons/*.json | wc -l

4402